spring:
  application:
    name: soap-gateway
zuul:
  ignored-services: "*"
  routes:
    system-service:
      path: /sysmgt/**
      service-Id: system-service
    menu-service:
      path: /sys/**
      service-Id: system-service
management:
  endpoints:
    web:
      exposure:
        include:  ["routes"]
